.home-image {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-image img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-left: 300px;
  }
  
  .book-list-container-main {
    text-align: center;
    padding-left: 300px;
    
  }
  
  .topic-heading {
    font-size: 24px;
    margin-bottom: 15px;
    color: #f7f3f3;
    
  }
  
  .book-list {
    display: flex;
    
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 100px;
  }
  
  .book-box {
    background: #0d0771;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .book-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .book-box h3 {
    font-size: 18px;
    margin: 10px 0;
    background-color: #0d0771;
    text-align: center;
    align-items: center;
  }
  
  .book-box p {
    font-size: 14px;
    color: #666;
  }