.login-container {
    display: flex;
    height: 100vh;
    padding-left: 300px;
  }
  
  /* Left Side: Background Image */
  .login-left {
    flex: 1;
    width:100%;
    height: 100%;
    background-image: url('serene-library-cafe-stockcake.jpg');
    background-size: cover;
    background-position: center;
   
  }
  
  /* Right Side: Login Form */
  .login-right {
    flex: 1;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
  }
  
  /* Login Box */
  .login-box {
    width: 350px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
  }
  
  /* Logo */
  .logo {
    width: 80px;
    margin-bottom: 20px;
  }
  
  /* Input Group */
  .input-group {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    background: black;
    color: white;
  }
  
  /* Password Field */
  .password-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 4px;
  }
  
  .password-wrapper input {
    flex: 1;
    border: none;
    padding: 8px;
    background: black;
    color: white;
  }
  
  .password-wrapper span {
    padding: 8px;
    cursor: pointer;
  }
  
  /* Forgot Password */
  .forgot-password {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .forgot-password a {
    color: blue;
    text-decoration: none;
  }
  
  /* Login Button */
  .login-button {
    width: 100%;
    padding: 10px;
    background: rgb(2, 8, 114);
    color: rgb(245, 237, 237);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: lightgray;
  }
  
  /* Divider */
  .divider {
    margin: 15px 0;
    color: gray;
  }
  
  /* Sign Up Text */
  .signup-text a {
    color: green;
    text-decoration: none;
  }