.footer{
    color:rgb(241, 239, 235);
    /* background-color: rgb(0, 0, 0); */
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 20px 0;
   margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.footer-content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-content-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.footer-content-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.footer-socials-icons{
    display: flex;
    gap: 20px;

}
.footer-content-right li, .footer-content-center li, .footer-content-left li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-center h2, .footer-content-right h2, .footer-content-left h2{
color: white;
}
.footer-socials-icons img{
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: gray;
    border: none;
}
@media (max-width: 750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
        
    }
}